<!DOCTYPE html>
<html>
  <head>
    <title>My conversations</title>
    <link href="/stylesheets/style.css" rel="stylesheet"/>
  </head>
  <body>
    <div id="app"></div>
    <script src="/javascripts/Conversations/conversations.js"></script>
  </body>
</html>