<!DOCTYPE html>
<html>
    <head>
        <link href="/stylesheets/style.css" rel="stylesheet"/>
        <title>Your Profile</title>
    </head>
    <body>
        <div id="app">

        </div>
        <script src="/javascripts/Profile/profile.js"></script>
    </body>
</html>