<!DOCTYPE html>
<html>
  <head>
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="app"></div>
    <script src="/javascripts/PublicProfile/publicProfile.js"></script>
  </body>
</html>