body {
  font-family: 'Roboto';
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('/fonts/proxima_nova_reg.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf');
}

a {
  color: #00B7FF;
}

.hide-html-overflow {
  overflow-y: hidden;
}